<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Versus Rock</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
			
        </style>
	</head>
	<body>
		<h1>Let's Play</h1>
		<p>Hello! <span id="username"><%= user.username %></span></p>
		<div id="initialScreen">
			<p>create a new game or join an existed game</p>
			<button class="btn" id="createNewGame">create</button>
			<button class="btn" id="btnJoinGame">join</button>	
		</div>
		
		<div id="hostGameArea"></div>
		<!-- This screen appears when a user clicks "CREATE" on the Title Screen -->
	    <script id="create-game-template" type="text/template">
	        <div class="createGameWrapper">
	        	<p>the host in this new game is ready</p>
	            <p>share the link to mobile and join the game</p>
	            <input type="text" value="/game/" id="shareUrl">
	            <p id="waitingMsg">entered mobile number: <span>0</span></p>
	        </div>
	    </script>

	    <!-- This scrreen appears when a player clicks "JOIN" on the Title Screen -->
	    <script id="join-game-template" type="text/template">
	        <div class="joinGameWrapper">

	            <div class="info">
	                <label for="inputGameId">Game ID:</label>
	                <input id="inputGameId" type="text"/>
	            </div>

	            <div class="info buttons">
	                <button id="btnStart" class="btn">Start</button>
	                <div id="playerWaitingMessage"></div>
	            </div>
	            
	        </div>
	    </script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/clientSocket.js"></script>
	</body>
</html>