<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Versus Rock</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
			
        </style>
	</head>
	<body>
		<h1>New Game</h1>
		<p>Hello! <%= user.username %></p>
		<p>Share this link to your friend: 
			<input type="text" value="/game">
		</p>
		<p>please wait...</p>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--<script src="/socket.io/socket.io.js"></script>
	<script>

	</script>-->
	</body>
</html>