<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Versus Rock</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<p>test</p>
		<p>first you need to sign in</p>
		<form action="/game" method="post">
			<p>
				<label>UserName</label>	
			</p>
			<p>
				<input type="text" name="username" id="username">
			</p>
			<p>
				<label>Password</label>	
			</p>
			<p>
				<input type="password" name="password" id="password">
			</p>
			<p>
				<!-- <input type="submit" value="Log In"> -->
				<a href="/auth/facebook">click to facebook auth</a>
			</p>
		</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--<script src="/socket.io/socket.io.js"></script>-->
	</body>
</html>