<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Versus Rock</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<p>list all rooms</p>
		<table>
			<tr>
				<th>game ID</th>
				<th>connected sockets</th>
				<th>staus</th>
			</tr>
			
		</table>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
;
jQuery(function($){ 
	'use strict';
	var socket = io.connect('http://60.199.162.87');
	socket.on('connected', function(data) {
		console.log(data);
		// console.log('try get some data: ' + io);
		socket.emit('askRooms', {});
	});

	socket.on('showRoom', function(roomPool) {
		console.log(roomPool);
		var toAppendHtml;
		for (var i in roomPool) {
			// $('ul').append('<li>' + data[i] + '</li>');
			toAppendHtml = toAppendHtml + '<tr><td>' + i + '</td><td>' + roomPool[i].numbers + '</td><td>' + roomPool[i].status + '</td></tr>';
		}
		$('table').append(toAppendHtml);
	});

}($));
	</script>
	</body>
</html>